/* General styles for body and html */
body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff; /* Optional: set text color to white for better contrast */
}

/* Container styles */
.container,
.container-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 16px;
}

.container-center {
  margin-top: 40px;
}

/* Map styles */
#map {
  width: 100%;
  height: 733px;
}

/* Login card styles */
.login-card {
  background: white(255, 255, 255, 0.9); /* White background with slight opacity */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  color: #000; /* Text color inside the login card */
}

/* Login card heading */
.login-card h1 {
  margin-bottom: 20px;
  color: #333; /* Dark color for heading text */
}

/* Login card form styles */
.login-card form {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.9); /* White background with slight opacity */
  border: 2px solid #007bff; /* Blue border color */
  border-radius: 4px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 2, 1); /* Box shadow for form */
  padding: 20px; /* Padding inside the form */
}

/* Form group styles */
.login-card form .form-group {
  margin-bottom: 20px;
}

.login-card form .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

/* Input field styles with border */
.login-card form .form-group input {
  width: 100%;
  padding: 10px;
  border: 2px solid #007bff; /* Blue border color */
  border-radius: 4px;
}

.login-card form .form-group input:focus {
  outline: none;
  border-color: #0056b3; /* Darker blue border color on focus */
}

/* Placeholder text color */
.login-card form .form-group input::placeholder {
  color: #aaa;
}

/* Button styles */
.login-card form button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background: #007bff; /* Blue background for buttons */
  color: #fff; /* White text color */
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-card form button:hover {
  background: #0056b3; /* Darker blue on hover */
}

/* Footer styles */
.login-card .footer {
  margin-top: 20px;
  font-size: 14px;
  color: #777;
}

.login-card .footer a {
  color: #007bff;
  text-decoration: none;
}

.login-card .footer a:hover {
  text-decoration: underline;
}
/* LoginPage.css */
.thin-text {
  font-size: 0.875rem; /* Smaller font size */
  font-weight: lighter; /* Lighter font weight */
  line-height: 1.5; /* Line height for better readability */
}

.dropdown-container {
  position: fixed;
  top: 100px;
  left: 100px;
  z-index: 10;
}

.dropdown-button {
  margin-bottom: 8px; /* Space between dropdowns */
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}